/*
.container {
    background-color: blueviolet;

}

.row{
    border: 20px solid black;
}*/

body {
    font-family: 'Raleway', sans-serif;
}

#footer {
    background-color: #273b47;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

.container-fluid img {
    width: 120px;
}

.img-slider {
    filter: brightness(0.5);
}

.bg-dark2 {
    --bs-bg-opacity: 1;
    background-color: #1f1f1f;
}

.navbar-dark .navbar-nav .nav-link {
    /* border-top: 2px solid transparent; */
    border-bottom: 2px solid transparent;
    transition: 0.5s ease-out;
    padding: 2px 5px;
    margin: 0px 10px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
    /* border-top: 2px solid #ff3717; */
    border-bottom: 2px solid #ff3717;
}

.btn-outline-white {
    border: 1px solid white;
    color: white;
    transition: 0.5s;
    margin-bottom: 20px;
}

.btn-outline-white:hover {
    color: white;
    background-color: #1f1f1fb5;
}

.btn:focus {
    box-shadow: none;
}